.navbar{
    display: flex;
    list-style: none;
    padding: 20px;
    column-gap: 30em;
    font-weight: 600;
}
.divlist{
    display: flex;
    column-gap: 30px;
}
.div1{
    display: flex;
    background-color: rgb(222, 192, 228);
    padding: 30px;
    font-size: larger;
    column-gap: 25em;
}
.div1 div button{
    color: white;
    background-color: blue;
    padding: 8px;
}
.div1 div span{
    color: red;
    font-size: larger;
}
.heading1{
    font-size: x-large;
    font-weight: 800;
    display: flex;
    column-gap: 60em;
}
.heading1 button{
    color: white;
    background-color: blue;
}