main{
    width: 80%;
    padding: 0px 40px 20px 10em;
}

.navbar{
    display: flex;
    list-style: none;
    padding: 20px;
    column-gap: 30em;
    font-weight: 600;
}
.icons{
    column-gap: 5px;
}
.divlist{
    display: flex;
    column-gap: 10px;
    color: gray;
}
.div1{
    display: flex;
    background-color: rgb(247, 203, 211);
    padding: 30px;
    font-size: larger;
    column-gap: 25em;
}
.div1 div button{
    color: white;
    background-color: blue;
    padding: 8px;
}
.div1 div span{
    color: red;
    font-size: larger;
}
.heading1{
    font-size: x-large;
    font-weight: 800;
    display: flex;
    column-gap: 48em;
    background-color: blanchedalmond;
    padding: 10px;
}
.heading1 button{
    color: white;
    background-color: blue;
}
.div2{
    display: flex;
}
.div2 figure img{
    height: 10em;
}
.div2 figure figcaption{
    text-align: center;
}
.div3{
    font-size: x-large;
    font-weight: 800;
    display: flex;
    column-gap: 48em;
    background-color: blanchedalmond;
    padding: 10px;
}
.div3 button{
    color: white;
    background-color: blue;
    padding: 15px;
}
.columndiv3 div img{
    width: 60%;
    height: 50%;
    padding: 20px;
}
.div4{
    display: flex;
}
.div4 img{
    height: 18em;
}
.div4 figure figcaption i{
    color: gold;
}
.div4 figure figcaption {
    font-weight: 800;
}
.div5{
    display: flex;
}
.div5 img{
    height: 18em;
    background-color: blanchedalmond;
}
.div5 figure figcaption i{
  
  color: gold;
}
.div5 figure figcaption{
    font-weight: 800;
}
.div6{
    font-size: x-large;
    font-weight: 800;
    display: flex;
    column-gap: 48em;
    padding: 20px;
    background-color: blanchedalmond;
}
.div6 button{
    color: white;
    background-color: blue;
    padding: 15px;
}
.container{
    position: relative;
    margin: 0 auto;
}
.container div img{
    width: 150%;
}
.container .content{
    position: absolute;
    top: 0px;
    width: 70%;
    padding: 20px 20px;
}
.content span{
    font-size: larger;
    font-weight: bolder;
}
.content button{
    background-color: blue;
    color: white;
    padding: 8px;
}
.div7{
    display: flex;
    background-color: blanchedalmond;
    padding: 20px;
}
.columndiv1{
    display: flex;
    
}
.divcolumn div div figcaption i{
    color: gold;
}
.columndiv2{
    display: flex;
    
}
.columndiv3{
    display: flex;
    
}
.columndiv3 div img{
    height: 55%;
    width: 65%;
}
.div8{
    display: flex;
    border: solid;
    border-width: 20%;
    column-gap: 30em;
    background-color: pink;
    padding: 90px 40px;
    height: 60%;
}
.div8 div img{
    width: 50%;
}
.div8heading{
    color: red;
    font-size: large;
    
}
.div8 div button{
    background-color: blue;
    color: white;
}
.div8span{
    font-size: x-large;
    font-weight: bolder;
}
.div9{
    display: flex;
    column-gap: 30em;
}
.div9 span{
   font-size: x-large;
   font-weight: 400; 
}
.div9 div input{
    padding: 10px;
}
.div9 div button{
    padding: 10px;
    background-color: blue;
    color: white;
    border-radius: 40px;
}
.lastcontent{
    display: flex;
    column-gap: 17em;

}
.lastcontent div li{
    list-style: none;
    color: gray;
}
.lastcontent div i{
    padding: 5px;
}
.divlast{
    display: flex;
    padding: 0px;
    column-gap: 50em;
}
.divlast div i{
    padding: 10px;
}
.divlast span{
    padding: 30px;
}